.fullContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #060321;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 0 20px;
  width: 100%;
  height: 146px;
  padding: 0 12px 0 12px;

  .bigOlText {
    color: white;
    font-family: '__Changa_One_cf5842', '__Changa_One_Fallback_cf5842';
    font-size: 24px;
    margin-bottom: 16px;
    padding-right: 12px;
    text-shadow: rgb(204 51 204 / 50%) 5px 0px 6px, rgba(115, 26, 26, 0.5) -4px 0px 2px, rgb(44, 73, 127) 10px 0px 8px;
  }

  .logo {
    margin: 0 0 0 20px;
    background-color: #d9d9d9d1;
    width: 100px;
    height: 88px;
    font-size: 26px;
    padding-left: 12px;
    text-justify: distribute;
    border-radius: 4px;
  }

  button {
    background-color: #C1050E;
    font-family: '__Changa_One_cf5842', '__Changa_One_Fallback_cf5842';
    border-width: 0 0 0 0;
    font-size: 22px;
    color: white;
    border-radius: 2px;
  }

  button:hover {
    cursor: pointer;
  }

  button:active {
    border-width: 0.5px;
    border-color: #750208;
    background-color: #a30008;
    outline-width: 0.5px;
    outline: rgb(6, 3, 26);
  }
}

.center {
  width: 66%;
  height: 50vh;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
